{% extends 'base.html' %}

{% block content %}
	{% for item in items %}
		<div>
			<h4><a href="{{ item.link }}" target="_blank">{{ item.title|safe }}</a></h4>

			{% if item.summary %}
				<div class="summary">
					{{ item.summary|safe }}
				</div>
			{% endif %}

			<div class="meta">
				{% if item.author %}<span class="label secondary round">{{ item.author }}</span>{% endif %}
				<span class="label secondary round">{{ item.feed }}</span>
				<span class="label secondary round">{{ item.timestamp }}</span>
				{% if item.tags %}<span class="label secondary round">Tagged in: {{ item.tags }}</span>{% endif %}
			</div>
		</div>

		<hr>
	{% endfor %}

	<div class="pagination-centered">
		<ul class="pagination">
			{% for page in db.page_range() %}
				<li {% if page == page_num %} class="current" {% endif %}><a href="?p={{ page }}">{{ page }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<hr>
{% endblock %}
